<div class="container">
    <div class="textContainer">
        <div class="textAndImage">
            <div>
                <img src="assets/angular.png" alt="">
            </div>
            <p>
                Se utilizo angular 16 para el FrontEnd, aprovechando la facilidad que ofrece a la hora de modularizar los componentes y de 
                manejar las rutas necesarias para la navegacion por la pagina. 
            </p>
        </div>
        <div class="textAndImage">
            <p>
                Por otro lado, para el backend se uso nodejs v18, para crear el servidor pertinente para procesar las solicitudes entrantes por parte
                del cliente, y redirigirlas a la IA, ademas de esto se maneja la logica de "verdades" sobre las consultas hechas a la misma.
            </p>
            <div>
                <img src="assets/node.png" alt="">
            </div>
        </div>
        <div class="textAndImage">
            <div>
                <img src="assets/ngrok.png" alt="">
            </div>
            <p>
                Para el forwarding de el puerto local hacia una red abierta en internet se uso "ngrok" util herramientas parecida a cloudflare, pero 
                con mayores libertades en su version gratuita.
            </p>
        </div>
        <div class="textAndImage">
            <p>
                El modelo preentrenado de ia empleado es (INSERTAR) basado en Llama2, corriendo gracias al proyecto
                de <a href="https://github.com/oobabooga" target=”_blank”>oobabooga</a> especificamente
                <a href="https://github.com/oobabooga/text-generation-webui" target=”_blank”>text-generation-webui</a>,
                el proyecto en si esta creado para generar una webui con gradio, pero ademas tiene la posibilidad de levantar una api.
            </p>
            <div>
                <img src="assets/meta.png" alt="">
            </div>
        </div>
        <div class="textAndImage">
            <p>
                Caracteristicas del hardware:
            </p>

        </div>
    </div>
</div>