<div class="container">
    <p>
        El proyecto se pensó y creó para el desafío de IA. En todo momento se planeó traer un prototipo de herramienta funcional que aproveche la capacidad de recopilación de datos que poseen las IA modernas, es decir, a veces, como programadores, tenemos que enfrentarnos a proyectos viejos hechos con lenguajes de programación arcaicos, donde el mayor problema es que la documentación y la comunidad son escasas.
         Sin embargo, la IA, al estar entrenada con una gran cantidad de parámetros, tiene en su haber poca información sobre estos.
        </p>
        <p>
            Contemplando lo ya dicho, el proyecto mejora la capacidad de los WebUIs enfocándolo en el aprendizaje del conocimiento buscado. El usuario obtiene información condensada y limpia, sin necesidad de tener que interactuar con los prompts.
        </p>
        <p>
            Además de eso, es interesante el planteo de crear una Wikipedia única por usuario, que no necesita almacenar sus datos.
        </p>
</div>